<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new user</title>
</head>
<body>
    <h1>Create a User</h1>
    <form action="/users/create" method="post">
        <p>
            First name:
            <input type="text" name="first_name" id="">
        </p>
        <p>
            Last name:
            <input type="text" name="last_name" id="">
        </p>
        <p>
            Email:
            <input type="text" name="email" id="">
        </p>
        <button>Create new user</button>
    </form>
    <a href="/">GO BACK</a>
</body>
</html>