<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show a single user</title>
</head>
<body>
    <div>
        <h1>Current User Selected: {{user.first_name}} {{user.last_name}}</h1>
        <a href="/">HOME</a>

    </div>
    <p>They're email is {{user.email}}</p>
    <p>Created on: {{user.created_at}}</p>
    <p>Last updated on: {{user.updated_at }}</p>
        <a href="/users/{{ user.id }}/edit">Edit</a>
        <a href="/users/{{ user.id }}/delete">Delete</a>
    </p>
</body>
</html>